:root {
  font-size: 16px;
  --container-bg: #f3f9ff;
  --section-bg: #fdfeff;
  --primary-color: #1476e4;
  --primary-hover: #dcecfe;
  --section-border: #d5d8da;
  --gray-color: #7e7e7e;
  --gray-light: #f2f7fe;
  --white-color: #fdfeff;
  --input-border: #a3b7ca;
  font-family: "Vazirmatn", sans-serifs;
}

:root.dark {
  font-size: 16px;
}

.btn {
  border-radius: 5rem;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

input,
textarea {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--input-border);
}

input:focus {
  outline: 1px solid var(--primary-color);
}

/* Form */
.twoColumnForm {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.addremoveList {
  background-color: var(--gray-light);
  border: 1px solid var(--input-border);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  row-gap: 1rem;
  list-style: none;
}

.addremoveList li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  animation: fall-in 1s 1 alternate;
}

@keyframes fall-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.addremoveList li button {
  background: none;
  border: none;
  cursor: pointer;
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(90%);
  }
  100% {
    opacity: 1;
  }
}

button.AddObjectListBtn {
  margin: 0 auto;
  padding: 0.5rem 2rem;
}

.animatedComingSoon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  animation: dance 1.5s infinite alternate;
}

@keyframes dance {
  0% {
    transform: scale(90%);
  }
  30% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  100% {
    scale: 120%;
  }
}

@media screen and (max-width: 405px) {
  .twoColumnForm {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
