.inputform {
  background-color: var(--section-bg);
  border-radius: 2rem;
  border: 1px solid var(--section-border);
  height: fit-content;
}

.inputform form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.inputform form .form-caption {
  color: var(--gray-color);
}

.inputform form .form-picture {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.inputform form .form-picture img {
  border-radius: 50%;
  width: 120px;
  aspect-ratio: 1/ 1;
}

.inputform form .form-picture div {
  background-color: var(--primary-color);
  width: fit-content;
  padding: 0.4rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.inputform form .input-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  animation: slide-in 0.5s 1 alternate;
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(90%);
  }
  100% {
    opacity: 1;
  }
}

.inputform form .input-section input {
  width: 100%;
}

.inputform .buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inputform .buttons-container .btn-primary {
  margin-left: auto;
}

.inputform form .input-section textarea {
  width: 100%;
  resize: none;
}

.inputform form .input-section .AddSkill {
  position: relative;
}

.inputform form .input-section .AddSkillButton {
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: var(--primary-hover);
  color: var(--primary-color);
  height: 85%;
  padding: 0.5rem 1.5rem;
}

.inputform form .input-section .AddSkillButton:hover {
  background-color: var(--primary-color);
  color: var(--container-bg);
}
