.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  grid-column: 1 / -1;
  justify-content: space-between;
  background-color: var(--section-bg);
  border: 1px solid var(--section-border);
  border-radius: 2rem;
  padding: 2rem 1rem;
  animation: fall-in 1s 1 alternate;
}

.navbar .site-logo {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.navbar .site-logo img {
  width: 44px;
  aspect-ratio: 1 /1;
}

.navbar .site-logo a {
  text-decoration: none;
  margin-bottom: -5px;
}

.navbar .site-logo a:visited {
  color: var(--primary-color);
}

.navbar .breadcrumb {
  display: flex;
  column-gap: 2rem;
  background-color: var(--gray-light);
  border-radius: 2rem;
  position: relative;
}

.navbar .breadcrumb a {
  color: var(--gray-color);
  border-radius: 2rem;
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  padding: 0.5rem 1rem;
}

.navbar .breadcrumb a::before {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 300;
  content: ">";
  position: absolute;
  right: -1.3rem;
  top: 50%;
  transform: translateY(-50%);
}

.navbar .breadcrumb a:last-child:before {
  content: "";
}

.navbar .breadcrumb a.isActive {
  background-color: var(--primary-hover);
  font-weight: 700;
  color: var(--primary-color);
}

.navbar button.printerIcon {
  background: none;
  border: none;
  cursor: pointer;
}

/* Added for mobile responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .navbar .breadcrumb {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .navbar .breadcrumb a {
    width: 100%;
    text-align: center;
  }

  .navbar .breadcrumb a::before {
    content: none;
  }
}
