.resumePreview {
  background-color: var(--gray-light);
  border: 1px solid var(--primary-hover);
  padding: 1rem;
  border-radius: 2rem;
  animation: slide-in 1s 1 alternate;
  justify-self: center;
  min-width: 700px;
  max-width: 750px;
  height: 900px;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #resumePreview {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    width: 210mm;
    height: 297mm;
  }
}

.resumePreview > div {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

/* Template 1 ⭐ */
.resumePreview .t1 {
  background-color: var(--section-bg);
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 0 2rem;
}

.resumePreview .t1 .t1-left {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 1rem;
}

.resumePreview .t1 .t1-left .backdrop {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #293039;
  clip-path: polygon(100% 200px, 100% 100%, 0 100%, 0 200px);
  z-index: -1;
  left: 0;
}

.resumePreview .t1 .t1-left .resume-picture {
  height: fit-content;
  border-radius: 50%;
  outline: 0.5rem solid var(--section-bg);
  border: 5px solid #293039;
}

.resumePreview .t1 .t1-left .resume-picture img {
  width: 100%;
  border-radius: 50%;
}

.resumePreview .t1 .t1-right {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;
  row-gap: 1rem;
  color: #293039;
}

.resumePreview .t1 .t1-right .t1-namesection {
  line-height: 1;
  padding: 4rem 0;
}

.resumePreview .t1 .t1-right .t1-namesection .resume-name {
  font-size: 2.5rem;
}

.resumePreview .t1 .t1-right .t1-namesection .resume-lastname {
  font-size: 3rem;
}

.resumePreview .t1 .t1-right .t1-namesection .resume-jobtitle {
  font-weight: 300;
  margin-top: 0.5rem;
}

.resumePreview .t1 .t1-left .resume-picture ~ div {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  line-height: 2.5;
}

.resumePreview .t1 .t1-left div h2 {
  display: flex;
  column-gap: 5px;
  color: #85a9d8;
  align-items: center;
}

.resumePreview .t1 .t1-left div h2 ~ * {
  color: var(--gray-light);
}

.resumePreview .t1 .t1-left .t1-skills ul,
.resumePreview .t1 .t1-left .t1-language ul {
  padding-left: 0.5rem;
  list-style: none;
  line-height: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.resumePreview .t1 .t1-left .t1-skills ul li:nth-child(odd),
.resumePreview .t1 .t1-left .t1-language ul li:nth-child(odd) {
  border-right: 1px solid var(--gray-light);
}

.resumePreview .t1 .t1-left .t1-contact span {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.resumePreview .t1 .t1-right .t1-namesection ~ div {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.resumePreview .t1 .t1-right .t1-namesection ~ div h2 {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.resumePreview .t1 .t1-right .t1-namesection ~ div h2 svg {
  color: inherit;
}

.resumePreview .t1 .t1-right .t1-namesection ~ div ul {
  list-style: none;
  padding-left: 1rem;
  line-height: 2;
  border-left: 1px solid #293039;
  margin: 0 0 1.5rem 0.6rem;
  position: relative;
}

.resumePreview .t1 .t1-right .t1-namesection ~ div ul:last-child {
  margin: 0 0 0 0.6rem;
}

.resumePreview .t1 .t1-right .t1-namesection ~ div ul::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #293039;
  top: 0;
  left: -4px;
}

.resumePreview .t1 .t1-right .t1-namesection ~ div ul::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #293039;
  bottom: 0;
  left: -4px;
}

.resumePreview .t1 .t1-right .t1-namesection ~ div ul li:first-child {
  font-weight: 900;
}

.resumePreview .t1 .t1-right .t1-namesection ~ div ul li:nth-child(2) {
  font-weight: 500;
}
